<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="org.tangerine.apiresolver.core.mapping.SimpleApiMapping" />
	<bean class="org.tangerine.apiresolver.core.mapping.AnnotationApiMapping"/>
	
	<bean id="apiResolver" class="org.tangerine.apiresolver.core.ApiResolver"/>
</beans>
